.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
  align-items: center;
}

.wrapper > div:first-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: var(--gray2);
  border-radius: 50%;
}

.icon {
  height: 22px;
  width: 22px;
  color: var(--primary);
}

.wrapper > p {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
}

.buttonHolder {
  display: flex;
  gap: 10px;
}
